.item {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.item:hover {
  background-color: #555;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a:hover {
  text-decoration: none;
  color: white;
}

.item__title {
  color: white;
  font-weight: bold;
}