.header {
  height: 100px;
  padding: 0 27vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #333;
}

.header__home {
  margin: 20px 0 5px 0;
  display: flex;
  flex-direction: row;
}

.header__home a h1 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.header__nav {
  margin-bottom: 20px;
  display: inline-block;
}

.header__nav a {
  text-decoration: none;
  margin: 0 15px;
  color: white;
  font-weight: bold;
}

.header__nav a:first-child {
  margin: 0 15px 0 0;
}

@media only screen and (max-width: 421px) {
  .header {
    padding: 0 5vw;
  }

  .header__home > a > h1 {
    font-size: 2em; 
    line-height: 1.7;   
  }
}

@media only screen and (min-width: 422px) and (max-width: 768px) {
  .header__home > a > h1 {
    font-size: 2em; 
    line-height: 1.7;   
  }
  .header {
    padding: 0 10vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .header {
    padding: 0 15vw;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
